<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Accueil</title>
</head>
<body class="container text-center mt-5">

    {% include 'navbar.html' %}
    <h1 class="mb-4">Bienvenue dans votre application de gestion de notes scolaires</h1>
    <p>Where every grade shapes The Winner!</p>
    <br>
    <a href="/register" class="btn btn-primary m-2"> Inscris-toi champion </a>
    <br><br>
    <a href="/login" class="btn btn-success m-2"> Connectez-vous boss </a>
    
</body>
</html>