<body style="background: url('/static/background.jpg') no-repeat center center fixed; background-size: cover;">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container d-flex flex-column align-items-center">
            <img src="/static/logo.jpg" alt="Logo TheWinnerAcademy" class="img-fluid mb-1" style="max-width: 200px;">
            <a class="navbar-brand mb-2" href="/">TheWinnerAcademy</a>

            <div class="d-flex gap-2">
                <a href="/add-note" class="btn btn-light">Ajouter</a>
                <a href="/notes" class="btn btn-light">Notes</a>    
                <a href="/averages" class="btn btn-light">Moyennes</a>
                <a href="/ranking" class="btn btn-light">Classement</a>
                <a href="/chart" class="btn btn-light">Performances</a>
            </div>

        </div>
    </nav>
</body>